@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --breakpoint-xs: 480px;
  --font-family-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

html, body{
  height: 100%;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444444 !important;
  border-radius: 4px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666666 !important; /* Lighter on hover */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none !important;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #444444 transparent !important;
}

