@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --breakpoint-xs: 480px;
  --font-family-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

html, body{
  height: 100%;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}
